#You can set defaults here (outide of any [] blocks)

#startFullscreen = 1  #default to full screen
#rawColliders = 1
#useBloom = 1
targetFrameRate = 30
nearPlane = 0.2
farPlane = 20


[HQ]
useShadowMap = 1  
shadowMapW = 2048 #2048 1024
shadowMapH = 2048

#startFullscreen = 1
boarderlessWindow = 0
screenW = 1152  #Full-screen 2880 x 1800 (retina full native resolution)
screenH = 720   #Full-screen 1440x900 (navite resoultion)

targetFrameRate = 30 #FPS

useBloom = 1
bloomPasses = 4 #2 look ok,  4 looks better

[SuperHQ]
useShadowMap = 1  #TODO: set shadow techqiues: e.g., plain vs PCF?
shadowMapW = 2048 #2048 1024
shadowMapH = 2048

startFullscreen = 1
boarderlessWindow = 0
screenW = 2880  #Full-screen 2880 x 1800 (retina full native resolution)
screenH = 1800   #Full-screen 1440x900 (navite resoultion)

targetFrameRate = 30 #FPS

useBloom = 1
bloomPasses = 4 #2 look ok,  4 looks better

[Debug]
# A low-def version that enables all the rendering components to make sure they work together

drawColliders = 1

useShadowMap = 1  #TODO: set shadow techqiues: e.g., plain vs PCF?
shadowMapW = 512 #2048 1024
shadowMapH = 512

startFullscreen = 0
screenW = 960  #960 x 600
screenH = 600   

targetFrameRate = 30 #FPS

useBloom = 1
bloomPasses = 2 #2 look ok,  4 looks better